<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.plugin.thumbnailer"
      version="0.1.0">
    <name>Thumbnailer</name>
    <description>Cordova Thumbnailer Plugin</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,thunbnail,resize</keywords>

    <!--
    <js-module src="thumbailer.js" name="Thumbnailer">
        <clobbers target="window.open" />
    </js-module>
    -->
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Thumbnailer"> 
                <param name="android-package" value="org.apache.cordova.plugin.thumbnailer.Thumbnailer"/>
            </feature>
        </config-file>

        <source-file src="src/android/InAppBrowser.java" target-dir="src/org/apache/cordova/inappbrowser" />
    </platform>
</plugin>
